.hero {
  width: 100%;
  height: 100vh;
  color: #f1f1f1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./assets//img/bg-n.jpg);
}
.container-fluid {
  background: rgb(0, 0, 0, 0.5);
  height: 100vh;
}
/* #backvideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
} */
/* @media (min-aspect-ratio: 16/9) {
  #backvideo {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #backvideo {
    width: auto;
    height: 100%;
  }
} */
