.execiser-container {
  width: 100%;
}
.options__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
.option__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}
select {
  background-color: rgb(0, 0, 0, 0.7) !important;
  color: #fff !important;
  font-size: 14px !important;
  width: 70% !important;
  height: 35px;
  border-radius: 5px;
  border: rgba(255, 255, 255, 0.5) solid 1px;
}
option:disabled {
  color: #fff;
}
label {
  font-size: 14px;
}
/* .body__parts .form-select {
  background: transparent;
  color: #fff;
  -webkit-appearance: menulist-button;
}
.body__parts select option {
  color: aqua;
  background: transparent;
} */
