.login__container {
  font-size: 16px;
  width: 100%;
  height: 100vh;
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  background: url("https://images.unsplash.com/photo-1521805103424-d8f8430e8933?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}
.overlay__login {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 40%;
  margin: 0 auto;
}
.form__container input::placeholder {
  color: #fff;
  font-size: 12px;
}
.form__container input,
input[type="password"] {
  color: #fff;
  font-size: 13px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid hsla(349, 80%, 49%, 0.1);
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: 0.3s;
  height: 50px;
}
.form__container input:active,
.form__container input:focus,
.form__container input:focus-visible,
.form__container input:focus-within {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  outline: none !important;
  background: transparent;
}
.form__container .buttons__container {
  display: flex;
  flex-direction: row;
}

.form__container div:nth-child(4) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__container div:nth-child(4) label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.form__container div:nth-child(4) span a {
  text-decoration: none;
  color: #fff;
}
.form__container div:nth-child(4) span a:hover {
  text-decoration: underline;
  line-height: 1.5;
}

.remmeber__me {
  display: flex;
  flex-direction: row;
}
label {
  color: #fff !important;
}
