.login__container {
  /* background-image: url(../../../assets//img/login.jpg); */
  /* min-height: 100vh; */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* color: #fff; */
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 16px;
  padding: 30px;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100vh;
}
.login__container form {
  display: flex;
  justify-content: end;
  flex-direction: column;
  width: 100%;
}
.login__container form input::placeholder {
  color: #fff;
  font-size: 12px;
}
.login__container form input,
input[type="password"] {
  color: #fff;
  font-size: 13px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid hsla(349, 80%, 49%, 0.1);
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  transition: 0.3s;
  height: 50px;
}
.login__container form input:active,
.login__container form input:focus,
.login__container form input:focus-visible,
.login__container form input:focus-within {
  border: 1px solid hsla(349, 80%, 49%, 0.722) !important;
  outline: none !important;
}
.login__container form .buttons__container {
  display: flex;
  flex-direction: row;
}
.login__container form .buttons__container button {
  width: 100%;
  height: 45px;
  background: hsla(349, 80%, 49%, 0.5);
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  padding: 5px;
  border-radius: 10px;
  border: 0px solid #fff;
  transition: 0.3s;
}
.login__container form .buttons__container button:hover {
  background: hsla(349, 80%, 49%, 0.722);
}

.login__container form div:nth-child(4) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login__container form div:nth-child(4) label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.login__container form div:nth-child(4) span a {
  text-decoration: none;
  color: #fff;
}
.login__container form div:nth-child(4) span a:hover {
  text-decoration: underline;
  line-height: 1.5;
}

.remmeber__me {
  display: flex;
  flex-direction: row;
}
